::selection {  }

#canvasSVG {
	width: 100%;
	height: 600px;
	border: solid black;
}

#canvasSVG rect.BgTile {
	fill: none;
	stroke: none;
}

#canvasSVG line.BgTile {
	stroke: blue;
	stroke-width: 1;
	stroke-dasharray: 5,5;
}

g > g > rect.tile {
	fill: cyan;
	stroke: black;
}

g > g > g > g > rect.tile {
	fill: yellow;
}

g > g > g > g > g > g > rect.tile {
	fill: green;
}
